doctype 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Shop Homepage Template for Bootstrap
    //
       Bootstrap core CSS 
    link(href='css/bootstrap.css', rel='stylesheet')
    //
       Add custom CSS here 
    link(href='css/shop-homepage.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#home') Start Bootstrap
        //
           Collect the nav links, forms, and other content for toggling 
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              a(href='#about') About
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact
        //
           /.navbar-collapse 
      //
         /.container 
    .container
      .row
        .col-md-3
          p.lead Shop Name
          .list-group
            a.list-group-item(href='#') Printable
            a.list-group-item(href='#') Cupcake Wrappers
            a.list-group-item(href='#') Authentic Dragon Bones
        .col-md-9
          .row.carousel-holder
            .col-md-12
              #carousel-example-generic.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-generic', data-slide-to='0')
                  li(data-target='#carousel-example-generic', data-slide-to='1')
                  li(data-target='#carousel-example-generic', data-slide-to='2')
                .carousel-inner
                  .item.active
                    img.slide-image(src='http://placehold.it/800x300')
                  .item
                    img.slide-image(src='http://placehold.it/800x300')
                  .item
                    img.slide-image(src='http://placehold.it/800x300')
                a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
          .row
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='http://placehold.it/320x150', alt='')
                .caption
                  h4.pull-right $24.99
                  h4
                    a(href='#') First Product
                  p
                    | See more snippets like this online store item at
                    a(target='_blank', href='http://www.bootsnipp.com') Bootsnipp - http://bootsnipp.com
                    | .
                .ratings
                  p.pull-right 15 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='http://placehold.it/320x150', alt='')
                .caption
                  h4.pull-right $64.99
                  h4
                    a(href='#') Second Product
                  p
                    | This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .ratings
                  p.pull-right 12 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='http://placehold.it/320x150', alt='')
                .caption
                  h4.pull-right $74.99
                  h4
                    a(href='#') Third Product
                  p
                    | This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .ratings
                  p.pull-right 31 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='http://placehold.it/320x150', alt='')
                .caption
                  h4.pull-right $84.99
                  h4
                    a(href='#') Fourth Product
                  p
                    | This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .ratings
                  p.pull-right 6 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
            .col-sm-4.col-lg-4.col-md-4
              .thumbnail
                img(src='http://placehold.it/320x150', alt='')
                .caption
                  h4.pull-right $94.99
                  h4
                    a(href='#') Fifth Product
                  p
                    | This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .ratings
                  p.pull-right 18 reviews
                  p
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
            .col-sm-4.col-lg-4.col-md-4
              h4
                a(href='#') Like this template?
              p
                | If you like this template, then check out
                a(target='_blank', href='http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/') this tutorial
                | on how to build a working review system for your online store!
              a.btn.btn-primary(target='_blank', href='http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/') View Tutorial
    //
       /.container 
    .container
      hr
      footer
        .row
          .col-lg-12
            p
              | Copyright © Company 2013 - Template by
              a(href='http://maxoffsky.com/') Maks
    //
       /.container 
    //
       JavaScript 
    script(src='js/jquery-1.10.2.js')
    script(src='js/bootstrap.js')

